html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/wallpaper.png');
    background-size: cover;
    background-repeat: repeat-1;
    background-position: center;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.titulo-casas {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; 
    padding: 20px;
    box-sizing: border-box;
}

.white-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 22px 2px black;
}

.items {
    display: grid; /* display de grade */
    grid-template-columns: repeat(2, 1fr); /* faz 2 fracoes */
    grid-gap: 30px; /* espacamento entre eles */
}

.item {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    align-items: center; /* alinhamento central do conteúdo */
    padding: 20px; /* espaçamento interno */
}

.product {
    text-align: center;
    background-color: white;
    height: 220px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.item img {
    margin-top: 10px;
    eight: 220px;
    height: 90%;
    border-radius: 10px;
}

.item h3 {
    margin: 0;
    color: #444;
    font-size: 1.2rem;
    margin: 10px 0px 10px 0px;
}

.item span { /* corrigido: antes estava spam */
    color: #777;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* botao estilizado usando <a> com classe botao */
.botao {
    background-color: #444;
    color: wheat;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.botao:hover {
    background-color: #333;
}

@media (max-width:900px) {
    .item {
        margin-bottom: 20px;
    }
    .container {
        height: auto;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr; /* em vez de 2 repetições, ele faz linha a linha com 1 repeticao */
        grid-gap: 30px;
    }
}
